<!DOCTYPE html>
<html lang="en">
<head>
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
    crossorigin="anonymous"
  />
  <link rel="icon" href="https://cdn-icons.flaticon.com/png/512/477/premium/477420.png?token=exp=1655051858~hmac=8e4fa86d16d6faf71249f9d4781dda8e"/>

<link rel="stylesheet" href="../../style.css" />

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Id</title>
</head>



<body id="bodyProductId">
<div class="bg-black">
  <h1 id="titleProductId"><%= producto.titulo %></h1>
  <span class="hrShop"></span>
</div>
<%- include('../partials/navBar.ejs') %> 

  <div class="product" >
    <div class="contentImage">
      <img src="../../images/<%= producto.img %>" class=" productImage"  width="300px" height="300px" alt="<%= producto.img %>" >

    </div>
    <div class="contentInfo">
      <h5 class="producTitle "><%= producto.titulo %></h5>
      <p class=" productDescrption"><small ><%= producto.descripcion %></small></p>
     <div class="productoPriceAndCode">
      <p class=" productPrice">$<%= producto.precio %> </p>
      <p class=" productCode">ID : <%= producto.codigo %></p>
     
     </div>
      <a href="/api/carrito/add/<%= producto.id  %> " class="buttonAddToCartProduct ">ADD TO CAR</a>

    </div>
     
    </div>
   
   
</body>
</html>