


 
 
     
<% if (messages.length > 0) { %>
  <div class="container chatBody border-2 border-secondary text-center ">
    <a href="/chat/delete" class="deleteChatButton"><button class="deleteChatButton" id="deleteChat"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash mb-1 me-2 ms-2" viewBox="0 0 16 16">
    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
  </svg>DELETE CHAT</button></a>

  <form class="container m-3"  method="POST">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="messagesBoxStyle " id="messagesBox">
<% messages.forEach(message => { %>
  
  <div class="messageStyle ">
    <div class="containerAutor"> 
    <p class="autorMessage"> <%= message.autor %>  </p> 
    </div>
     <div class="containerMessage " >
     <p class="textMessage"><%= message.text %>  </p>
     <p class=" dateMessage"><%= message.date %> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-all text-info ms-1" viewBox="0 0 16 16">
     <path d="M8.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L2.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093L8.95 4.992a.252.252 0 0 1 .02-.022zm-.92 5.14.92.92a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 1 0-1.091-1.028L9.477 9.417l-.485-.486-.943 1.179z"/>
   </svg></p> 
     </div>


</div>
<% }) %>
</div>
</div>

<div class="row d-flex justify-content-center align-items-center">
  <div class="col-auto">
    <i id="validationAutor"> </i
    ><label
      for="inputEmail"
      class="col-form-label labelChat"
      >Userdd</label
    >
  </div>
  <div class="col-auto me-3">
    <input
      type="text"
      class="inputChat"
      id="autorEmail"
      name="autor"
      value="<%= uID.userName %> "

    />
  </div>
  <div class="col-auto ms-3">
    <i id="validationMessage"> </i
    ><label
      for="inputMessage"
      class="col-form-label labelChat"
      >message</label
    >
  </div>

  <div class="col-auto">
    <input
      type="text"
      class="inputChat"
      id="message"
      name="text"
    />
  </div>
  <div class="col-auto">
    <button disabled class="btn buttonSendDisabled  " type="submit" id="submit">
      <a class="w-50"  >Send</a>
    </button>
  </div>
</div>
</form>

<% } else { %>
 
  <div class="container chatBody border-2 border-secondary text-center ">
  <form class="container m-3" method="POST">
    <div class="row d-flex justify-content-center align-items-center">
  <div class="d-none " id="messagesBox"></div>


<div class="row d-flex justify-content-center align-items-center">
  <div class="col-auto">
    <i id="validationAutor"> </i
    ><label
      for="inputEmail"
      class="col-form-label labelChat"
      >User</label
    >
  </div>
  <div class="col-auto me-3">
    <input
      type="text"
      class="inputChat"
      id="autorEmail"
      name="autor"
      value="<%= uID.userName %> "

    />
  </div>
  <div class="col-auto ms-3">
    <i id="validationMessage"> </i
    ><label
      for="inputMessage"
      class="col-form-label labelChat"
      >message</label
    >
  </div>

  <div class="col-auto">
    <input
      type="text"
      class="inputChat"
      id="message"
      name="text"
    />
  </div>
  <div class="col-auto">
    <button disabled class="btn buttonSendDisabled  " type="submit" id="submit">
      <a class="w-50" >Send</a>
    </button>
  </div>
</div>
</form>
</div>
<% } %> 

    

